.nav-link {
    color: #FBF0DA;
}
.nav-link:hover {
    color: #D39000;
}

.o-0 {
    opacity: 0!important;
}
.o-25 {
    opacity: 0.25!important;
}
.o-50 {
    opacity: 0.5!important;
}
.o-75 {
    opacity: 0.75!important;
}
.o-100 {
    opacity: 1!important;
}
.o-hover-25,.o-hover-50,.o-hover-75,.o-hover-100 {
    transition: 0.5s;
}
.o-hover-25:hover {
    opacity: 0.25!important;
}
.o-hover-50:hover {
    opacity: 0.5!important;
}
.o-hover-75:hover {
    opacity: 0.75!important;
}
.o-hover-100:hover {
    opacity: 1!important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fade {
    0% { opacity: 1; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}
